.itemEntry {
    width: 150px;
    height: 150px;
    margin: 0 4px 8px 0;
    float: left;
    background: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    padding-bottom: 3.5em;
    overflow: hidden;
}

.itemEntry h3 { font-weight: bold; padding-top: 1em;}

.itemEntry a img {
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}

.itemEntry:not(:hover) { opacity: 0.6; }

.itemEntry a { display: block; text-decoration: none; }

a.addToBasket {
    background: #e5e5e5;
    color: #444;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    bottom: 0;
    position: absolute;
    width: 130px;
    padding: 10px;
    margin-bottom: -1px;
}

a.addToBasket:hover {
    background: #444;
    color: #e5e5e5;
}