.itemEntry {
    width: 150px;
    height: 150px;
    margin: 0 4px 8px 0;
    float: left;
    background: #fff;
    border: 1px solid #e5e5e5;
    text-align: center;
    position: relative;
    padding-bottom: 3.3em;
    overflow: hidden;
    cursor: pointer;
}

.itemEntry h3 {
    font-weight: bold;
    position: absolute;
    padding: 1em 0;
    right:0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}

.itemEntry:not(:hover) { opacity: 0.6; }