#headerShoppingBasket {
    border: 1px solid #ccc;
    background: #e5e5e5;
    padding: 0.5em 3em;
    margin: 3em 0;
    color: #999;
}

#hideSidebar {
    text-align: center;
    width: 40px;
    float: right;
    font-size: 80%;
    padding: 3px;
}

aside.hiddenSidebar { width: 40px; overflow: hidden; }
article.hiddenSidebar { width: 630px; }
#asideContent.hiddenSidebar { display: none; }